body {
	background-image: url("../images/babbage.jpg");
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top -65px center;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 16px;
	line-height: 22px;
}

.content {
	margin:15px auto 0 auto;
	padding:0 15px;
	max-width:970px;
}

.footer {
	margin:30px 0;
	text-align:right;
	text-color:#555;
	float:left;
	width:100%;
	border-top: solid 1px #555;
	padding:15px 10px 40px 10px;
	font-size: 14px;
	line-height: 18px;
	color:#555;
	box-sizing: border-box; 
}

a.foota {
	color:#555;
}

.note {
	background:#ffd;
	padding:15px;
	margin-top:-16px;
	border: 1px solid #bbb;
	text-align:center;
}

h1 {
	margin: 5px auto 10px auto;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 35px;
}

h2 {
	line-height: 30px;
}

div.prize {
	float: right;
	margin: -5px 2px 10px 2px;
	padding:5px 8px;
	border-radius: 10px;
	text-align: center;
	text-decoration:heavy;
	border: 1px solid #bbb;
	background: #ccffcc;
}

div.food {
	float: right;
	margin: -5px 2px 10px 2px;
	padding:5px 8px;
	border-radius: 10px;
	text-align: center;
	text-decoration:heavy;
	border: 1px solid #bbb;
	background: #ffffcc;
}

.details {
	font-size: 14px;
	line-height: 18px;
	color:#555;
}


#icon {
	z-index:2;
	margin:75px auto 5px auto;
	border-radius: 50%;
	width:100px;
	height:100px;
	text-align: center;
	border: 4px solid #fff;
	background-color: #000;
	font-family: 'Courier New', Courier, monospace;
	font-size:18px;
	line-height:98px;
	color:#00ff00;
}

.add {
	float:left;
	text-align:center;
	width:100%;
	padding:10px 0;
	background:#eee;
}

#past {
	float:left;
	border-top: solid 1px #555;
	width:100%;
	margin:20px 0 0 0;
}

a.event {
	color:black;
	font-size: 18px;
	line-height: 25px;
}

a.visit {
	font-variant: small-caps;
	color:red;
	font-size: 18px;
	line-height: 25px;
}

.title {
	font-size: 36px;
	text-align:center;
	width:100%;
	font-variant: small-caps;
}

.menu_bar{
border-top: solid 1px #888;
border-bottom: solid 1px #888;
margin:0 0 30px 0;

}
a.menu {
font-family: sans-serif;
text-decoration: none;
    font-size: 12px;
color: #529ecc;
font-weight: 700;
 text-transform: uppercase;
padding:0 4px;
}
.subtitle{
text-transform: uppercase;
text-decoration: none;
font-size: 13px;
line-height: 20px;


font-weight: 100;
}
.quote {
font-size: 23px;
line-height: 28px;
color: #888;
}

#rawmarkup{
	display:none;
}

#QandA img{
	width:100%;
}

div.main{
	min-width:300px;
	max-width:650px;
	margin: 0 auto;
padding:0 5px 0 5px;
	}
div.frame{
	float:left;
	width:100%;
	margin:5px 0 5px 0;
}
div.full{
	float:left;
	width:100%;
}
.button{
	padding:8px;
	margin:8px 0 0px 0;
	width:100%;
}
div.question_text{
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color:#ffffff;
	min-width:30px;
	background:#5489eb;
	border-radius: 15px;
	padding:10px 15px 14px 15px;
	margin-right:45px;
}

div.question_text a:link, div.question_text a:hover, div.question_text a:active, div.question_text a:visited{ color:#e3fbfc; }

div.question_arrow{
	float:left;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #5489eb;
	margin:0 20px;
}
div.ans_text{
	float:right;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color:#000000;
	min-width:30px;
	background:#eeeeee;
	border-radius: 15px;
	padding:10px 15px 14px 15px;
	margin-left:45px;
}
div.ans_arrow{
	float:right;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 5px solid transparent;
	border-top: 15px solid #eeeeee;
	margin:0 20px;
}
div.choices{
	float:left;
	width:100%;
	margin:15px 0 0 0;
}
div.standard_buttons{
	float:left;
	width:100%;
	margin-top:5px;
	border-top: 1px solid #ddd;
	padding-top:12px;
}
div.credits{
	float:left;
	dispaly:none;
	width:100%;
	background:#eee;
	margin:0px 0 15px 0;
}
div.credit_text{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding:4px 15px 10px 15px;
}
li.error{
	list-style-type: none;
	background:#ffdddd;
	margin: 10px 0 0 0;
	padding: 5px;
}

.qpad {
	float:left;
	padding:0 15px;
}

a.sbutton {
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	width:48%;
	background: #eee;
	border-radius: 8px;
	padding:10px 0px 12px 0;
	margin: 0 0 3px 0;
	border: solid 1px #888;
	text-align:center;
	color: #000000;
	text-decoration: none;
}

a.sbutton:hover, a.sbutton:active {
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	width:48%;
	background: #ddd;
	border-radius: 8px;
	padding:10px 0px 12px 0;
	margin: 0 0 3px 0;
	border: solid 1px #888;
	text-align:center;
	color: #000000;
	text-decoration: none;
}

a.qabutton {
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	width:100%;
	background: #eee;
	border-radius: 8px;
	padding:10px 0px 12px 0;
	margin: 0 0 8px 0;
	border: solid 1px #888;
	text-align:left;
	color: #000000;
	text-decoration: none;
}

a.qabutton:hover, a.qabutton:active {
	float:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	width:100%;
	background: #ddd;
	border-radius: 8px;
	padding:10px 0px 12px 0;
	margin: 0 0 8px 0;
	border: solid 1px #888;
	text-align:left;
	color: #000000;
	text-decoration: none;
}


div.xdiv {
	float:left;
	width:100%;
	margin: 0 0 8px 0;
	background: #eee;
	border: solid 1px #888;
	border-radius: 8px;
}

input.xinput {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	float:left;
	width:100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	background: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding:10px 10px 12px 10px;
	border: solid 0px #888;
	border-bottom: solid 1px #888;
	text-align:left;
	color: #000000;
	text-decoration: none;
}

a.xbutton {
	float:left;
	width:100%;
	text-align:left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 20px;
	background: #eee;
	border-radius: 8px;
	padding:10px 0px 12px 0px;
	color: #000000;
	text-decoration: none;
}

a.xbutton:hover, a.xbutton:active {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	background: #ddd;
}

.profile_pic {
	float:left;
	margin:20px 25px 15px 0;
	width:200px;
	height:200px;
	z-index:2;
	border-radius: 50%;
	background-color: #ddd;
	border: 4px solid #555;
}

.profile_vid {
	float:left;
	margin:20px 25px 25px 0;
	width:400px;
	height:200px;
}

.vid_wrapper {
	float:left;
	padding-bottom:25px;
}

.profile_wrapper {
	float:left;
}

.embed_vid {
	width:400px;
	height:225px;
}

@media only screen and (max-width: 680px) {
	.vid_wrapper {
		position:relative;
		width:100%;

	}
	.profile_vid {
		float:none;
		position:relative;
		margin:15px auto;
		width:400px;
	}
	.embed_vid {
		float:none;
		width:100%;
	}
}

.profile_title {
	font-size:22px;
	line-height: 25px;
}

@media only screen and (max-width: 480px) {
	.profile_wrapper {
		position:relative;
		width:100%;
	}
	.profile_pic {
		float:none;
		position:relative;
		margin:15px auto;
		width:200px;
	}

	.profile_vid {
		float:none;
		width:100%;
	}
}

.profile_title {
	font-size:22px;
	line-height: 25px;
}

a.anchor {
		display:block;
		float:right;
		width:22px;
		height:16px;
		background-image: url("../images/link.png");
		background-repeat: no-repeat;
		background-position: center;
}
